.archeryPoseLit1Icon {
  
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.archery {
  flex: 1;
  position: relative;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}
.archeryPoseLit1Parent,
.archeryWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.archeryWrapper {
  width: 110.1px;
  flex-direction: row;
  padding: 0 19px;
  box-sizing: border-box;
}
.archeryPoseLit1Parent {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: 19.3px 36px 23.2px 69px;
  gap: 19.1px;
  background-image: url(/public/frame-1452@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Paris2024-Variable;
}
