.followUs {
  
  align-self: stretch;
  height: 40px;
  position: relative;
  line-height: 40px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
  font-size: 70px;
}
.socialMediaIconsName {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.socialMediaIconsName1 {
  align-self: stretch;
  width: 12.5px;
  position: relative;
  max-height: 100%;
  min-height: 24px;
  z-index: 1;
}
.groupIcon,
.kooe613b8426bd29b24c68d1431b7Icon,
.linkedinOption1Icon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
  z-index: 1;
}
.kooe613b8426bd29b24c68d1431b7Icon,
.linkedinOption1Icon {
  overflow: hidden;
  flex-shrink: 0;
}
.socialMediaIconsList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
}
.uttrakhandgames2024 {
  align-self: stretch;
  position: relative;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.socialMediaIcons {
  align-self: stretch;
  padding: 0 28px 0 0;
  gap: 29px;
  font-size: 40px;
  color: #212121;
}
.followUsParent,
.followUsTitle,
.socialMediaIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.followUsParent {
  align-self: stretch;
  gap: 161px;
}
.followUsTitle {
  width: 489px;
  padding: 247px 0 0;
  box-sizing: border-box;
  min-width: 489px;
  max-width: 100%;
}
.frameChild {
  height: 100%;
  width: 1919px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -1080px;
  max-height: 100%;
}
.frameItem {
  height: 800px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.followUsTitleParent,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.vectorParent {
  width: 840px;
  justify-content: flex-start;
  position: relative;
  min-width: 840px;
}
.followUsTitleParent {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
  text-align: left;
  font-size: 100px;
  color: #81378f;
  font-family: Paris2024-Variable;
}
@media screen and (max-width: 1575px) {
  .followUsTitle,
  .frameItem,
  .vectorParent {
    flex: 1;
  }
  .followUsTitleParent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1250px) {
  .vectorParent {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .followUs {
    font-size: 50px;
    line-height: 28px;
  }
  .uttrakhandgames2024 {
    font-size: 32px;
    line-height: 37px;
  }
  .followUsParent {
    gap: 80px;
  }
  .followUsTitle {
    padding-top: 161px;
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .followUs {
    font-size: 30px;
    line-height: 18px;
  }
  .uttrakhandgames2024 {
    font-size: 24px;
    line-height: 28px;
  }
}
