.tableDataChild {
  height: 60px;
  width: 840px;
  position: relative;
  flex-shrink: 0;
  display: none;
}
.rankValue {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 11px;
  z-index: 2;
}
.rankSeparator {
  width: 242.5px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
}
.imageValue {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 21px;
  z-index: 2;
}
.imageSeparator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.4px 0 0;
}
.totalValue {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 21px;
  z-index: 2;
}
.totalSeparator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.4px 0 0;
}
.stateValue {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 21px;
  z-index: 2;
}
.stateSeparator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.4px 0 0;
}
.rankHeader {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  z-index: 2;
}
.tableData,
.tallyHeaderRow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5.4px 0 0;
}
.tableData {
  position: absolute;
  top: 132px;
  left: 0;
  background-color: #fff;
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 18.6px 44px 14px;
  box-sizing: border-box;
  gap: 20px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: 18px;
  color: #212121;
  font-family: Lato;
}
@media screen and (max-width: 825px) {
  .tableData {
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
  }
}
